.card {
    margin: 3vw;
}

.Logo {
    width: 20%;
    margin-right: 20px;
}

.Center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}


@media only screen and (max-width: 600px) {
    .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .Center {
        display: grid;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 25vw;
        display: inline-block;
    }
}


.prezzo {
    color: black;
    text-decoration: none;
}


footer {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}