/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
GENERAL
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */
 @media only screen and (max-width: 600px) {
    .navbarcontainer{
        justify-content: center;
    }
 }

footer {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    width: 20%;
    margin-right: 20px;
}










/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
INDEX.HTML
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.card {
    margin: 3vw;
}


.Center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}


@media only screen and (max-width: 600px) {
    .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .Center {
        display: grid;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 25vw;
        display: inline-block;
    }
}


.prezzo {
    color: black;
    text-decoration: none;
}

/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
CONTATTI.HTML
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.Contact-Icon{
    font-size: 75px;
}

.socialbuttoncontainer{
    padding: 25px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    h1{
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
   }
}
