/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
GENERAL
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.logoimage {
    max-width: 50px;
}

footer {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footertext {
    vertical-align: inherit;
}

/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
INDEX.HTML
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.card {
    margin: 3vw;
}


.Center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}


@media only screen and (max-width: 600px) {
    .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .Center {
        display: grid;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 25vw;
        display: inline-block;
    }
}


.prezzo {
    color: black;
    text-decoration: none;
}

/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
CONTATTI.HTML
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.Contact-Icon {
    font-size: 75px;
}

.socialbuttoncontainer {
    padding: 25px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .socialbutton {
        width: 150px;
        height: 210px;
    }

    .socialbuttoncontainer {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .socialbutton {
        width: 210px;
        height: 200px;
    }
}

.contacthero {
    margin-top: 100px;
}

/* 
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
COLLEZIONI.HTML
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
 */

.collectioncarousel {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1200px) {
    .carouseltitle{
        font-size: 10rem;
    }   
}